//variables & mixins
$primary: rgb(177, 69, 69);
$secondary: rgb(199, 4, 4);
$tertiary: rgb(44, 0, 0);

@mixin card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid $primary;
    border-radius: 10px;
}

@mixin bg-gradient--red {
    background: linear-gradient(to top left, $secondary, $tertiary, $secondary)
}

//general styles
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

h1 {
    font-size: 24px;
}

.card {
    @include card();
    width: 100px;
    height: 100px;
    margin: 0 30px;
}

//header
.header {
    @include bg-gradient--red();
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 80px;
    color: #fff;

    &__logo {
        height: 40px;
        margin-right: 10px;
    }
}

//section userChoice
.userChoice {
    display: flex;
    justify-content: center;

    & .card {
        box-shadow: 3px 3px 5px $tertiary;
        transition: all 500ms;

        &:hover {
            cursor: pointer;
            transform: scale(0.9);
            box-shadow: none;
        }

        & img {
            height: 100%;
        }
    }
}

//section game
.game {
    display: flex;
    justify-content: center;
    margin: 100px 0;

    & h3 {
        margin-bottom: 8px;
    }

    &__player {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    &__result {
        @include card;
        width: 100px;
        margin: 25px 30px 0 30px;
        border: none;
    }
}

#gameUser, #gameComputer {
    height: 100%;
}

//footer
.footer {
    @include bg-gradient--red();
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #fff;
}

//Media queries
@media screen and (max-width: 798px) {
    h1 {
        font-size: 20px;
    }

    .card {
        width: 80px;
        height: 80px;
    }
}

@media screen and (min-width: 361px) and (max-width: 798px) {
    h1 {
        font-size: 20px;
    }

    .card {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 360px) {
    h1 {
        font-size: 16px;
    }

    h3 {
        font-size: 16px;
    }

    .card {
        width: 60px;
        height: 60px;
        margin: 0 20px;
    }

    .game {
        &__result {
            margin: 25px 20px 0 20px;
            width: 60px;

            & p {
                font-size: 14px;
            }
        }
    }
}